<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE kpartgui>
<gui name="katerussell-plugin" library="katerussellplugin" version="3" translationDomain="katerussellplugin">
	<MenuBar>
		<Menu name="Russell">
			<text>&amp;Russell</text>
			<Action name="prove_verify"/>
			<Separator/>
			<Action name="prove"/>
			<Action name="translate"/>
			<Action name="verify"/>
			<Action name="learn"/>
			<Action name="stop"/>
			<Separator/>
			<Action name="goto_prev"/>
			<Action name="goto_next"/>
			<Separator/>
			<Action name="target_next"/>
		</Menu>
	</MenuBar>
	<ToolBar name="mainToolBar">
			<text>Main Toolbar</text>
        	<Action name="prove_verify_quick" />
        	<Action name="prove_interactive" />
        	<Action name="start_server" />
	</ToolBar>
	<Menu name="ktexteditor_popup" noMerge="1">
		<Action name="popup_russell"/>
	</Menu>
</gui>
<!-- kate: space-indent on; indent-width 4; replace-tabs on; -->
